/* Colors! */
body {
  color: #324851;
  font-family: Arial, Helvetica, Sans serif;
  font-size: 100%; }

a, a:active, a:visited, a:hover, a:focus {
  color: #86ac41;
  font-weight: bold;
  text-decoration: none; }

h3 {
  color: #34675c; }

.banner {
  background-color: #7Da3A1;
  color: #34675c;
  height: 8rem;
  padding: 0;
  position: relative;
  width: 100%; }
  .banner a, .banner a:active, .banner a:visited, .banner a:hover, .banner a:focus {
    color: #34675c; }

.nameheader {
  float: none;
  margin: 0 auto;
  text-align: center;
  width: 90%; }

.nav {
  list-style-type: none;
  position: absolute;
  bottom: 0; }

.nav__link {
  padding-bottom: 0.25rem;
  width: 100%; }

.content {
  margin: 0 auto;
  width: 90%; }

.position__date, .position__title, .education__note {
  margin: 0.5rem 1rem; }

.publication {
  padding-bottom: 0.5rem; }

@media (min-width: 420px) {
  .banner {
    height: 9rem; }
  .nameheader {
    float: left;
    font-size: 4rem;
    margin: 0;
    text-align: left; }
  .nav {
    left: auto;
    right: 0;
    width: auto; }
  .nav__link {
    float: left;
    padding: 0 1rem;
    width: auto; }
  .position__title {
    width: 100%; } }

@media (min-width: 760px) {
  .banner {
    height: 12rem; }
  .nameheader {
    font-size: 5rem; }
  .nav {
    font-size: 2rem; } }
