/* Colors! */
$text-color: #324851;
$light-background: #F5F4F0;
$dark-background: #828687;
$warm-accent: #EA966A;
$bright-accent: #f9ba32;
$cool-accent: #86ac41;
$link-color: #415421;
$black: #000;
$white: #FFF;

/* Fonts! */
$body-font: 'Raleway', sans-serif;

/* Breakpoints! */
 @mixin breakpoint($point) {
   @if $point == medium {
     @media only screen and (min-width: 400px) and (max-width: 767px) { @content ; }
  }
   @else if $point == large {
     @media only screen and (min-width: 768px) and (max-width: 1023px) { @content ; }
  }
  @else if $point == large-and-up {
     @media only screen and (min-width: 768px) { @content ; }
  }
    @else if $point == xlarge {
     @media only screen and(min-width: 1024px) { @content ; }
  }
}


body {
  background-color: $light-background;
  color: $text-color;
  font-family: $body-font;
  font-size: 100%;
}

a, a:active, a:visited, a:hover, a:focus {
  color: $link-color;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 30px;
  left: 0;
  position: absolute;

  @include breakpoint(medium) {
    font-size: 40px;
    top: 0;
    left: 10px;
  }
  @include breakpoint(large-and-up) {
    font-size: 50px;
    top: 50px;
    left: 50px;
  }
}

h2 {
  margin: 0.25em 0;
}

.headshot {
  display: none;

  @include breakpoint(large-and-up) {
    display: inline-block;
    height: 100px;
    vertical-align: middle;
    border-radius: 16px;
    margin-right: 5px;
  }
}

.header {
  background-image: url(../img/header.png);
  background-position: right -45px top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100px;
  margin: 0 auto;
  position: relative;

  @include breakpoint(medium) {
    background-position: center;
    height: 200px;
  }

  @include breakpoint(large-and-up) {
    background-size: auto;
    height: 280px;
  }
}

.intro {
  padding: 10px 20px;

  @include breakpoint(large-and-up) {
    padding-left: 50px;
  }
}

.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;

  @include breakpoint(large-and-up) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.portfolio li {
  flex: 0 1 300px;
  margin: 10px;
}

.portfolio-item {
  border: 1px solid $black;
  background-color: $white;
  max-width: 100%;
  padding: 10px;
  text-align: center;
}

.portfolio-item__site {
  border-color: $dark-background;
}

.portfolio-item__software {
  border-color: $bright-accent;
}

.portfolio-item__publication {
  border-color: $warm-accent;
}

.portfolio-item__talk {
  border-color: $cool-accent;
}

.portfolio-item--title {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}

.portfolio-item--image {
  max-width: 100%;
  height: auto;
  margin: 10px auto;
}
