/* Colors! */
$text-color: #324851;
$light-background: #7Da3A1;
$warm-accent: #86ac41;
$cool-accent: #34675c;
$bright-accent: #f9ba32;

body {
  color: $text-color;
  font-family: Arial, Helvetica, Sans serif;
  font-size: 100%;
}

a, a:active, a:visited, a:hover, a:focus {
  color: $warm-accent;
  font-weight: bold;
  text-decoration: none;
}

h3 {
  color: $cool-accent;
}

li {
  list-style-type: none;
}

.portfolio-item {
  width: 20%;
  height: 500px;
  float: left;
}
