/* Colors! */
$text-color: #324851;
$light-background: #F5F4F0;
$dark-background: #828687;
$warm-accent: #EA966A;
$bright-accent: #f9ba32;
$black: #000;

/* Breakpoints! */
 @mixin breakpoint($point) {
   @if $point == medium {
     @media only screen and (min-width: 400px) and (max-width: 767px) { @content ; }
  }
   @else if $point == large {
     @media only screen and (min-width: 768px) and (max-width: 1023px) { @content ; }
  }
    @else if $point == xlarge {
     @media only screen and(min-width: 1024px) { @content ; }
  }
}

$medium: 400px 767px;
$large: 768px 1023px;
$xlarge: 1024px;


body {
  background-color: $light-background;
  color: $text-color;
  font-family: Arial, Helvetica, Sans serif;
  font-size: 100%;
}

a, a:active, a:visited, a:hover, a:focus {
  color: $warm-accent;
  font-weight: bold;
  text-decoration: none;
}

li {
  list-style-type: none;
}

.header {
  background-image: url(../img/header.png);
  background-position: 50%;
  background-repeat: no-repeat;
  height: 280px;
  margin: 0 auto;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.portfolio li {
  flex: 300px;
}

.portfolio-item {
  margin: 20px;
}

.portfolio-item--image {
  max-width: 100%;
  height: auto;
}
